@model Papa.Web.ViewModels.HeaderViewModel

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a href="index.html" class="logo d-flex align-items-center me-auto">
            <img src="/images/logo.png" alt="">
            <h1 class="sitename">@Model.SiteName</h1>
        </a>
        @await Component.InvokeAsync("Navigation")
    </div>
</header>