<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1885d643-0f1a-445c-96f8-be1de6e59f1f" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c62b1653-9e81-44fa-a345-d1aa58e5cc89">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="76eaa40a-c781-401d-a1e7-a82fd7b41105" SortOrder="0">settings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>