<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ef1097a-e5f4-4504-a1db-d629d0aa8e49" Alias="Settings" Level="2">
  <Info>
    <Parent Key="f504ec65-a221-4ee3-b24f-dfe9f9ef440e">Home</Parent>
    <Path>/Home/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-11-18T13:45:34</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <siteName>
      <Value><![CDATA[MyWebsite]]></Value>
    </siteName>
  </Properties>
</Content>